.detailed-card {
  position: relative;
}

.bookmark-heart-detailed {
  position: absolute;
  right: 2rem;
  width: 40px;
  height: 40px;
}
.bookmark-heart-detailed:hover {
  width: 50px;
  height: 50px;
}
